@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
    .heroButton { 
        @apply px-6 py-2  border border-[#fafafa] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#4682B4] hover:text-[#4682B4]
    }

    .contactInput { 
        @apply outline-none bg-slate-400/10 rounded-sm border-b-2 px-6 py-4 border-[#4682B4] text-gray-500 placeholder-gray-500 transition-all  focus:border-black focus:text-black hover:border-black
    }
    svg.carousel-arrow__left.animate {
		color: var(--primary);
		animation: tilt-right 1s infinite;
	}

	svg.carousel-arrow__right.animate {
		color: var(--primary);
		animation: tilt-right 1s infinite;
	}

	div.carousel-dot.active {
		background-color: var(--primary); 
	}
}